@charset "UTF-8";
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Estilo do Body*/

body {
    background-color: #760000;
    margin: 30px 100px;
}
/*Estilo do Cabeçalho*/

header {
    background-color: #ffffff;
    display: flex;
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
}
a {
    margin: auto;
    text-decoration: none;
    color: #4E4C4C;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
}
#imgsize1 {
    max-height: 100px;
}
#imgsize2 {
    max-height: 50px;
    border-radius: 50%;
    align-items: center;
}
#alinhamento {
    margin: auto;
}
/*Estilo do Conteúdo principal*/
main {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 100px;
    margin-bottom: 50px;
}
main > h1 {
    color: #760000;
    font-size: 2em;
    font-family:"Inter", sans-serif;
    text-align: center;
}
#cinza {
    color: #000000;
    font-size: 1.5em;
    font-family:"Inter", sans-serif;
    text-align: center;
}
main > p {
    color: #4E4C4C;
    font-size: 1em;
    font-family:"Inter", sans-serif;
    text-align: center;
    font-weight: 500;
    width: 800px;
    margin: 20px auto;
}
.titulo_vermelho {
    color: #9E3030;
    font-weight: bold;
}
/*Estilo do Rodapé*/
footer {
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    color: #4E4C4C;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}
