
/*Estilo do Cabeçalho*/

a {
    text-decoration: none;
    color: #4E4C4C;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
}


/*Estilo do Cabeçalho*/
footer {
    background-color: #D3CBCB;
    height: auto;
    width: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5px;
    padding-top: 10px;
    color: #000000;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #760000;
    padding-top: 2.813rem;
}

nav {
    background-color: white;
    border-radius: 0.5rem;
    max-width: 84.375rem;
    width: 100%;
    max-height: 9.25rem;
    height: 100%;
    padding: 1.25rem;
    margin: auto;
    font-size: 1.5rem;
    color: #4E4C4C;
    font-family: "Inter", sans-serif;
    font-weight: 700;
}

nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    list-style: none;
}

nav img {
    width: 9rem;
    height: 6.75rem;
}

.flexboxlogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    gap: 0.625rem;
}

.flexboxlogin img {
    margin: auto;
    width: 4rem;
    height: 4rem;
}