@charset "UTF-8";
/*Fonte Inter*/
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*Estilo do Body*/

body {
    background-color: #760000;
    margin: 30px 100px;
}
/*Estilo do Cabeçalho*/

header {
    background-color: #ffffff;
    display: flex;
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    margin-bottom: 50px;
}
a {
    margin: auto;
    text-decoration: none;
    color: #4E4C4C;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
}
#imgsize1 {
    max-height: 100px;
}
#imgsize2 {
    max-height: 50px;
}
#alinhamento {
    margin: auto;
}
/*Estilo do Conteúdo principal*/

/*Sobre Saúde Cardiovascular*/

#id_sobre {
    background-color: #D9D9D9;
    color: #760000;
    border-radius: 20px;
    margin-bottom: 50px;
}
#img_home {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
#id_posicao_horizontal {
    display: flex;
    padding: 100px;
    height: 100%;
    gap: 20px;
    justify-content: center
}
#img_logo {
    width: 100%;
}
#id_div_vertical {
    width: 40%;
}

/*Conteúdo Saúde Cardiovascular*/

.box_conteudo {
    background-color: #D9D9D9;
    border-radius: 20px;
    padding: 45px;
    margin-bottom: 50px;
}
.box_conteudo > h1 {
    font-family:"Inter", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #760000; 
    text-align: center;
    margin-bottom: 50px;
}
.box_conteudo > span {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
    
}
.box_conteudo > span > h1 {
    font-family:"Inter", sans-serif;
    font-size: 1em;
    color: #760000;
}
.box_conteudo > span > img {
    border-radius: 50%;
    width: 300px;
}

/*Parceiros Saúde Cardiovascular*/

.box_parceiros {
    border-radius: 20px;
    text-align: center;
    background-color: #ffffff;
    padding: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}
.box_parceiros > h1 {
    font-family:"Inter", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #760000;
}
.box_parceiros > span > img {
    width: 100%;
}

/*Feedback Saúde Cardiovascular*/
.box_feedback {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    padding-left: 20px;
    margin-bottom: 50px;
}
.box_feedback > div > h1 {
    font-family:"Inter", sans-serif;
    font-weight: bolder;
    font-size: 2em;
    color: #ffffff;
}
#letrabranca {
    font-family:"Inter", sans-serif;
    font-size: 1em;
    color: #ffffff;
    font-weight: bold
}
.card {
    background-color: #ffffff;
    border-radius: 20px;
    padding: 30px;
    width: 30%;
} 
.card > span > span > img {
    width: 50px;
    border-radius: 50%;
}
.fonte_titulo_card {
    font-family:"Inter", sans-serif;
    font-weight: bolder;
    font-size: 1.5em;
    color: #000000;
}
.fonte_p_card {
    font-family:"Inter", sans-serif;
    font-size: 1em;
    color: #000000;
}
.horizontal {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 10px;
}
/*Estilo do Rodapé*/
footer {
    background-color: #ffffff;
    height: auto;
    width: auto;
    border-radius: 20px;
    margin: auto;
    padding: 20px;
    color: #4E4C4C;
    font-family:"Inter", sans-serif;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
}